<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokemonGo.RocketAPI.GUI.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokemonGo.RocketAPI.GUI.UserSettings>
            <setting name="AuthType" serializeAs="String">
                <value>Google</value>
            </setting>
            <setting name="PtcUsername" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="PtcPassword" serializeAs="String">
                <value>pw</value>
            </setting>
            <setting name="GoogleRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLatitude" serializeAs="String">
                <value>51.501663</value>
            </setting>
            <setting name="DefaultLongitude" serializeAs="String">
                <value>-0.14102</value>
            </setting>
            <setting name="DefaultAltitude" serializeAs="String">
                <value>10</value>
            </setting>
        </PokemonGo.RocketAPI.GUI.UserSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.5947.17248" newVersion="2.4.5947.17248" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>